#signupbtn{
    padding: 0!important;
}

#carouselIndicators{
    position: relative;
    margin-top: 10%;
}

.carousel-item {
    height: 583px;
}

section {
    position: relative;
    margin-top: 10%;

}

#feedback{
margin: 10% auto;
}

section#feedback>div.container{
    display: flex;
align-self: center;
}


.card{
    border: none;
    text-align: center;
    margin: auto;
}
.card-text{
    margin: 3px;
}

.checked {

    color: orange;
  }