.nav-link{
    display: flex;
    align-content: center;
    padding: 0!important;

}

#godown{
    position: relative;
    margin-top: 10%;
}

#loginh1{
    text-align: center;
}

#logincancel{
    margin-left: 2%;
}