.nav-link{
    display: flex;
    align-content: center;
    padding: 0!important;

}

#godown{
    position: relative;
    margin-top: 10%;
}

#loginh1{
    text-align: center;
}

#logincancel{
    margin-left: 2%;
    background-color: #343a40;
    border-color: #343a40;
    transition: all 0.3s;
}
#logincancel:hover{
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #343a40;
}

#loginConfirm{
        background-color: #343a40;
        border-color: #343a40;
        transition: all 0.3s;
    }
#loginConfirm:hover{
      background-color: #f8f9fa;
      border-color: #f8f9fa;
      color: #343a40;
}