#welcomeh1{
    text-align: center;
    padding-top: 4%;    
    padding-bottom: 3%;
}

#userPic{
    margin: auto;
    border-radius: 100%!important;
    max-width: 100%;
    height: auto;
    padding-bottom: 3%;
}